aiosqlite==0.17.0
alembic==1.7.5
anyio==3.4.0
asgiref==3.4.1
click==8.0.3
databases==0.5.4
fastapi==0.70.1
future==0.18.2
greenlet==1.1.2
h11==0.12.0
idna==3.3
Mako==1.1.6
MarkupSafe==2.0.1
ormar==0.10.24
pydantic==1.9.0
pyzk==0.9
sniffio==1.2.0
SQLAlchemy==1.4.29
starlette==0.16.0
typing_extensions==4.0.1
uvicorn==0.16.0
